<h1> Hello World </h1>
<h2>Welcome to Brabus, Noah's favorite vehicle</h2>

<% # Create  pleasent navigation experiance %>

<%= link_to 'Home','/' %>

<h6> <%= @noah_dream_car%> </h6>

<img src='https://i.pinimg.com/originals/0c/a3/19/0ca319b1dfaebf2282249d15861d9550.jpg' alt='Brabus logo'>